{%extends 'navigation.html' %}
{%block annamalai%}
    <div class="col-12 col-sm-12 col-md-8 col-lg-5">
        <div class="card bg-danger text-light shadow-lg p-3 rounded-3 mb-2">
            <h1 class="text-center">Model {{data.model}}</h1>
            <hr color="white"/>
            <h2>Product information</h2>
            <div class="card-body">
                <p class="float-start">Serial No:{{data.serial}}</p>
                <p class="float-end">Type of usage:{{data.type}}</p>
            </div>
            <hr color="white"/>
            <h2>Technical specification</h2>
            <div class="card-body">
                <p class="float-start">{{data.ram}}GB RAM</p>
                <p class="float-end">{{data.ssd}}GB Storage</p>
            </div>
            <hr color="white"/>
            <h2>General information</h2>
            <div class="card-body">
                <p class="float-start">{{data.stock}}Stock available</p>
                <p class="float-end">Rs. {{data.price}}</p>
            </div>
            <hr color="white"/>
            <h2 class="text-center">Actions</h2>
            <div class="card-body">
                <a href="/update/{{data.model}}" class="float-start btn btn-outline-info rounded-pill">
                    <h4 class="bi bi-credit-card-2-back"></h4>
                </a>
                <a href="/erase/{{data.model}}" class="float-end btn btn-outline-dark rounded-pill">
                    <h4 class="bi bi-trash3-fill"></h4>
                </a>
            </div>
        </div>
    </div>
{%endblock%}