{% extends 'navigation.html' %}
{%block annamalai%}
        <div class="col-12 col-lg-8 col-md-10 col-sm-12 text-nowrap">
            <div class="table-responsive">
            <table class="table table-stripped p-3 rounded-5 shadow-lg">
                <thead>
                    <tr>
                        <th>Model</th><th>Serial</th><th>RAM</th><th>Type</th><th>SSD</th>
                        <th>Stock</th><th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {%for document in data%}
                        <tr>
                            <td>
                                <a href="/pick/{{document.model}}" class="btn btn-outline-warning">
                                    {{document.model}}
                                </a>
                            </td>
                            <td>{{document.serial}}</td>
                            <td>{{document.ram}}</td><td>{{document.type}}</td>
                            <td>{{document.ssd}}</td><td>{{document.stock}}</td>
                            <td>{{document.price}}</td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
{%endblock%}